[commands]
# min level required to use the weaponcontrol command
#   0 : guest
#   1 : user
#   2 : reg (regular/VIP)
#  20 : mod (moderator)
#  40 : admin
#  60 : fulladmin
#  80 : senioradmin
# 100 : superadmin

servers: guest


[settings]
# 'advertise on map change': do you want your servers advertised at map change ? (yes/no)
advertise on map change: yes


[servers]
# Define below the address of game servers you would like advertised.

# game-monitor.com
# List of <ip:port> for each game server you would like advertised, separated by a space.
# The servers you want advertised have to be registered on http://game-monitor.com/. Note that you cannot advertise
# the current map when using game-monitor.com as a data source.
#
# Example :
# game-monitor.com: 11.22.33.44:27960 11.22.33.44:27962
game-monitor.com:


# quake3 server
# List of <ip:port> for each quake3 game server you would like advertised, separated by a space.
# The game servers have to be based on the Quake3 game engine will be queried directly.
# Works for Call of Duty servers, Urban Terror, etc
#
# Example :
# quake3 server: 11.22.33.44:27960 11.22.33.44:27962
quake3 server:

